<%- include('partials/header') %>
<div class="right-side" >
  <h1 class="title" style="text-align:center;">Months</h1>
  <div class="ui stackable 2 column grid months">
  <% months.forEach(function(m){ %>
    <div class= "item month-item">
      <h2>
        <%= m.date%>
      </h2>
      <div class="meta">
        <p>Income: <%= m.income %></p>
      </div>
      <div class="meta">
        <p>Expenses: <%= m.expenses %></p>
      </div>
      <div class="description">
        <p>Notes: <%= readMore(m.notes,40) %></p>
      </div>
      <div class="extra">
        <a class="ui floated basic violet button" href="/months/<%=m._id%>">Read More</a>
      </div>
    </div>
  <% }) %>
  </div>
</div>
